#!/bin/bash
#copy as "system.sh" and tweak for your system

ARCH=$(uname -m)

#Ubuntu Natty
#sudo apt-get install gcc-arm-linux-gnueabi

#Ubuntu Maverick:
#gcc-4.4
#sudo apt-get install gcc-4.4-arm-linux-gnueabi
#or gcc-4.5
#sudo apt-get install gcc-4.5-arm-linux-gnueabi

#Use CodeSourcery: http://www.codesourcery.com/sgpp/lite/arm/portal/subscription?@template=lite (GNU/Linux)
#Just download and extract...

if test "-$ARCH-" = "-armv7l-"
then
 echo "Using: Native armv7l Compiler"
 CC=
else
 echo "Using: Cross Compiler"
 #For ubuntu, if you apt-get the gcc-"version"-arm-linux-gnueabi from above..:
 #CC=arm-linux-gnueabi-

 #Test that user actually modified the above CC line:
 if test "-$CC-" = "--"
 then
  echo ""
  echo "Error: You haven't setup the Cross Compiler (CC variable) in system.sh"
  echo ""
  echo "with a (sane editor) open system.sh and modify the commented Line 25: #CC=arm-linux-gnueabi-"
  exit
 fi
fi

#USE git for downloading source
#To minimize bandwidth, clone this in a directory of your choice
#git clone git://git.kernel.org/pub/scm/linux/kernel/git/stable/linux-stable.git

#LINUX_GIT=~/git_repo/linux-stable

#Force Script to use the latest git commit's..
#This should be enabled with care, as any upstream commit can break any local patch..
#So NO SUPPORT ;)
#LATEST_GIT=1

#Enable ability to do a full patch bisect
#BISECT=1

#Use with Caution, mount locations can change... This define's SD/MMC card mount location for load_uImage.sh script.
#MMC=/dev/sde

#Old Stuff, Such as: Debian Lenny, Ubuntu Jaunty, Ubuntu Karmic need this:
#NO_DEVTMPS=1

#local patches
#LOCAL_PATCH_DIR=/full/path/to/dir/

#zImage to uImage
#OMAP3-4
#ZRELADDR=0x80008000

#mx51
#ZRELADDR=0x90008000

#mx53
#ZRELADDR=0x70008000
